$font: "Avenir Next", Avenir, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, sans-serif;
$text: #fff;
$light-text: #ccc;
$dark-grey: #666;
$link: #53FACE;
$black: #222;
$yellow: #ffe21f;
$red: #dd2e44;
$pink: #ff00b0;
$space: 20px;





// mixin for placeholder
@mixin placeholder {
  &.placeholder { @content; @include transition-color }
  &:-moz-placeholder { @content; @include transition-color }
  &::-moz-placeholder { @content; @include transition-color }
  &:-ms-input-placeholder { @content; @include transition-color }
  &::-webkit-input-placeholder { @content; @include transition-color }
}




// dirty reset
* {
  margin: 0;
  padding: 0;
}
img, embed, object, video {
  max-width: 100%;
  border: none;
}
html, body {
  height: 100%;
}




body {
  font-family: $font;
  background: url('../images/bg.png') #1c1c1c no-repeat;
  background-size: cover;
  line-height: 1.5;
  color: $text;
}





h1 {
  font-size: 3em;
  font-weight: 200;
  line-height: 1.2;
}

h2,
.text--h2 {
  font-size: 1.8em;
  font-weight: 200;

  small {
    font-size: .65em;
    line-height: 1;
  }
}

h3,
.text--h3 {
  font-size: 1.4em;
  font-weight: 200;
  line-height: 1.6;
}

h1 strong,
h2 strong {
  font-weight: 200;
}
strong {
  font-weight: 400;
}

small {
  display: block;
}

.text--bigger {
  font-size: 1.125em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 500;

  strong {
    font-weight: 500;
  }
}

.text--yellow {
  color: $yellow;
}

.text h2,
.text p,
.text li {
  margin: $space / 2 0;
}



// share this button
button {
  background: transparent;
  font-family: $font;
  color: $text;
  cursor: pointer;
  outline: none;
  font-size: 1em;
  border: none;
  border-top: solid 1px rgba(255,255,255,.25);
  border-bottom: solid 1px rgba(255,255,255,.25);
  padding: $space / 2;
  &:hover {
    color: $link;
  }
}



// selection styling
::-moz-selection {
  background: $link;
  color: $text;
}

// selection styling
::selection {
  background: $link;
  color: $text;
}





a {
  color: $link;
  text-decoration: none;
  @include transition-color;

  &:hover {
    color: mix($link, $text, 80%);
    text-decoration: underline;
  }

  &:focus {
    outline: none;
  }

  &.huge-link:hover {
    // background: mix($link, $black, 60%);
    color: $text;
    text-decoration: none;
  }

  &.link--red {
    color: $red;
  }
}





ul {
  margin-left: $space * 2;
}