$font: "Avenir Next", Avenir, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, sans-serif;
$text: #fff;
$lightest-grey: #ddd;
$light-text: #ccc;
$dark-grey: #666;
$link: #53FACE;
$black: #222;
$yellow: #ffe21f;
$red: #dd2e44;
$purple: #bd10e0;
$green: #3bc5a6;
$orange: #f5a623;
$camden-fringe: #fe0000;
$vault-festival: #ef24f9;
$croydonites-festival: #aaa;
$space: 20px;





// mixin for placeholder
@mixin placeholder {
  &.placeholder { @content; @include transition-color }
  &:-moz-placeholder { @content; @include transition-color }
  &::-moz-placeholder { @content; @include transition-color }
  &:-ms-input-placeholder { @content; @include transition-color }
  &::-webkit-input-placeholder { @content; @include transition-color }
}




// dirty reset
* {
  margin: 0;
  padding: 0;
}
img, embed, object, video {
  max-width: 100%;
  border: none;
}
html, body {
  height: 100%;
}




body {
  font-family: $font;
  font-weight: 500;
  background: #111 no-repeat;
  background-size: cover;
  line-height: 1.5;
  color: $text;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translateZ(0);
}





h1 {
  font-size: 3.2em;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -0.02em;
}
.h1--giga {
  font-size: 6em;
  line-height: 1;
  font-weight: 700;
}

h2,
.text--h2 {
  font-size: 1.8em;
  font-weight: 500;

  small {
    font-size: .65em;
    line-height: 1;
  }
}
.h2--giga {
  font-size: 2.8em;
  font-weight: 600;
  line-height: 1.4;

  em {
    font-weight: 600;
  }
}

h3,
.text--h3 {
  font-size: 1.4em;
  font-weight: 400;
  line-height: 1.6;
}

h3 + h3 {
  margin-top: $space / 2;
}

h1 strong {
  font-weight: 600;
}
h2 strong {
  font-weight: 500;
}
strong {
  font-weight: 400;
}

small {
  display: block;
}

.text h2,
.text p,
.text li {
  margin: $space / 2 0;
}


// share this button
button {
  background: transparent;
  font-family: $font;
  font-weight: 500;
  color: $text;
  cursor: pointer;
  outline: none;
  font-size: 1em;
  border: none;
  border-top: solid 1px rgba(255,255,255,.25);
  border-bottom: solid 1px rgba(255,255,255,.25);
  padding: $space / 2;
  &:hover {
    color: $link;
  }
}



// selection styling
::-moz-selection {
  background: $link;
  color: $text;
}

// selection styling
::selection {
  background: $link;
  color: $text;
}





a {
  color: $link;
  text-decoration: none;
  @include transition-color;

  &:hover {
    color: mix($link, $text, 80%);
    text-decoration: underline;
  }

  &:focus {
    outline: none;
  }

  &.huge-link:hover {
    // background: mix($link, $black, 60%);
    color: $text;
    text-decoration: none;
  }

  &.link--red {
    color: $red;
  }
}





ul {
  margin-left: $space * 2;
}