$font: "Avenir Next", Avenir, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, sans-serif;
$text: #fff;
$link: #53FACE;
$black: #222;
$yellow: #ffe21f;
$space: 20px;





// mixin for placeholder
@mixin placeholder {
  &.placeholder { @content; @include transition-color }
  &:-moz-placeholder { @content; @include transition-color }
  &::-moz-placeholder { @content; @include transition-color }
  &:-ms-input-placeholder { @content; @include transition-color }
  &::-webkit-input-placeholder { @content; @include transition-color }
}




// dirty reset
* {
  margin: 0;
  padding: 0;
}





body {
  font-family: $font;
  background: url('../images/bg.jpg') no-repeat;
  background-size: cover;
  line-height: 1.5;
  color: $text;
}





h1 {
  font-size: 3em;
  font-weight: 200;
  line-height: 1.2;
}

h2 {
  font-size: 1.8em;
  font-weight: 200;
}

h1 strong {
  font-weight: 200;
}
strong {
  font-weight: 400;
}

small {
  display: block;
}

.text--bigger {
  font-size: 1.125em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 500;
}

.text--yellow {
  color: $yellow;
}

.text h2,
.text p,
.text li {
  margin: $space / 2 0;
}




// selection styling
::-moz-selection {
  background: $link;
  color: $black;
}

// selection styling
::selection {
  background: $link;
  color: $black;
}





a {
  color: $link;
  text-decoration: none;
  @include transition-color;

  &:hover {
    color: mix($link, $text, 80%);
    text-decoration: underline;
  }

  &:focus {
    outline: none;
  }
}





ul {
  margin-left: $space * 2;
}