.input {
  font-family: $font;
  color: $text;
  background: transparent;
  font-size: 1em;
  padding: $space / 4 $space / 2;
  outline: none;
  @include border-radius(4px);
  border: solid 1px #666;
  width: 260px;
  margin: $space / 4 0;
}