// 50% height of containers (for venue)
.fill-height-or-more {
  min-height: 100%;
  display: flex;
  flex-direction: row;
  > div, > a {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &:nth-child(1) {
      background: $black;
    }
    &:nth-child(2) {
      background: $light-text;
      color: $black !important;
    }
  }
}





// horizontal center
.horizontal--center {
  margin: 0 auto;
}



// vertical align
.vertical-align--middle {
  vertical-align: middle;
}
.vertical-align--neg-70 {
  vertical-align: -70%;
}
.vertical-align--neg-15 {
  vertical-align: -15%;
}





// blocks
.block--inline {
  display: inline-block;
}
.block {
  display: block;
}





// floats
.float--right {
  float: right;
}
.float--left {
  float: left;
}





// widths
.max-width--980 {
  max-width: 980px;
}
.max-width--650 {
  max-width: 650px;
}
.width--70 {
  width: 70%;
}
.width--60 {
  width: 59%;
}
.width--50 {
  width: 50%;
}
.width--40 {
  width: 40%;
}





// padding
.padding--top-bottom-one-space {
  padding: $space 0;
}

.padding--top-half-space {
  padding-top: $space / 2;
}
.padding--top-one-space {
  padding-top: $space;
}
.padding--top-two-spaces {
  padding-top: $space * 2;
}
.padding--top-six-spaces {
  padding-top: $space * 6;
}

.padding--bottom-one-space {
  padding-bottom: $space;
}
.padding--bottom-four-spaces {
  padding-bottom: $space * 4;
}

.padding--left-one-space {
  padding-left: $space;
}
.padding--left-two-spaces {
  padding-left: $space * 2;
}

.padding--right-one-space {
  padding-right: $space;
}





// margin
.margin--bottom-four-spaces {
  margin-bottom: $space * 4;
}
.margin--top-bottom-one-space {
  margin: $space 0;
}
.margin--top-bottom-two-spaces {
  margin: $space * 2 0;
}
.margin--top-bottom-three-spaces {
  margin: $space * 3 0;
}
.margin--top-bottom-four-spaces {
  margin: $space * 4 0;
}

.margin--top-half-space {
  margin-top: $space / 2;
}
.margin--top-one-space {
  margin-top: $space;
}
.margin--top-two-spaces {
  margin-top: $space * 2;
}
.margin--top-three-spaces {
  margin-top: $space * 3;
}
.margin--top-four-spaces {
  margin-top: $space * 4;
}
.margin--top-five-spaces {
  margin-top: $space * 5;
}
.margin--top-six-spaces {
  margin-top: $space * 6;
}



// max-width for screenshot
.iphone-screenshot {
  max-width: 358px;
  position: relative;
  display: block;

  .iphone-screenshot__inside {
    position: absolute;
    bottom: 90px;
    left: 24px;
    width: 86.5%;
    @include border-radius(4px);

    &.iphone-screenshot__inside--video {
      bottom: -80px;
    }
  }
}



// download button
.button {
  color: $text;
  border: solid 2px $text;
  padding: $space / 1.5;
  display: block;
  text-align: center;
  @include border-radius(10px);
  @include transitions;

  &:hover {
    color: $link;
    border-color: $link;
    text-decoration: none;
  }

  &.button--download {
    width: 260px;
  }

  &.button--claim {
    width: 260px;
  }

  &.camden-fringe-colour {
    color: $pink;
    border-color: $pink;

    &:hover {
      color: $link;
      border-color: $link;
    }
  }

  &.vault-festival-colour {
    color: $vault-festival;
    border-color: $vault-festival;

    &:hover {
      color: lighten($vault-festival, 15%);
      border-color: lighten($vault-festival, 15%);
    }
  }
}



// open in app on top of venue pages
.button--open-in-app {
  background: $link;
  color: $black !important;
  text-decoration: none !important;
  float: right;
  padding: $space / 4;
  font-size: .875em;
  @include border-radius(5px);
  margin-top: 3px;
}



// app icon
.appicon {
  @include border-radius(20px);
  @include box-shadow(0 0 18px 1px rgba(0,0,0,.3));
}




// position
.position--absolute {
  position: absolute;
}

.position--absolute--bottom-center {
  bottom: $space;
  left: 0;
  right: 0;
}



// hide sharing by default
.sharing-container {
  display: none;
}



// social icons
.twitter-icon,
.facebook-icon {
  width: 20px;
  padding-right: $space / 4;
  vertical-align: -15%;
}