// DESKTOPS
@media all and (min-width: 1440px) {
  header[class^="header--"]:before {
    width: 25px;
    left: -25px;
  }
}
@media all and (min-width: 1200px) {
  // expand container for more width
  .max-width--980 {
    max-width: 1100px;
  }
}

// if less height
@media all and (max-height: 750px) {
  // smaller screenshot
  .iphone-screenshot {
    width: 70%;
  }

  // less top spacing
  .margin--top-four-spaces {
    margin-top: $space * 2;
  }
}





// TABLET
@media all and (max-width: 980px) {
  // adds spacing left/right of container
  .max-width--980 {
    padding-left: 5%;
    padding-right: 5%;
  }

  // makes text container smaller
  .width--60 {
    width: 50%;
  }

  // text smaller
  h1 {
    font-size: 2.5em;
  }
  h2,
  .text--h2,
  h3 {
    font-size: 1.5em;
  }

  // less top spacing
  .margin--top-four-spaces {
    margin-top: $space * 2;
  }

  // move from 50/50 width to 100% for venue page
  .fill-height-or-more {
    flex-direction: column;

    // add some padding/top bottom
    & > a,
    & > div {
      padding: $space * 2 0;
    }
  }

  // remove "back to homepage" from being absolute
  .position--absolute--bottom-center {
    position: relative;
    bottom: auto;
    left: auto;
    right: auto;
    margin: $space 0;
    padding-bottom: $space;
  }
}





// MOBILE
@media all and (max-width: 850px) {
  h1 {
    font-size: 1.8em;
    text-align: center;
  }
  h2,
  .text--h2,
  h3 {
    font-size: 1.3em;

    small {
      font-size: .6em;
    }
  }
  .text--bigger {
    line-height: 1.4;
  }

  .container.padding--top-six-spaces {
    padding-top: $space / 2;
  }

  // full width containers (one under other)
  .width--60,
  .width--40 {
    width: 100%;
  }

  // centres download button
  .download-button {
    margin-left: auto;
    margin-right: auto;
  }

  .hide-on-mobile {
    display: none;
  }

  .center-on-mobile {
    text-align: center;
  }

  // smaller app icon
  .show-on-mobile .appicon {
    width: 2.5em;
    height: auto;
    @include border-radius(10px);
  }

  // brings reasons closer
  .mobile--no-bottom-margin {
    margin-bottom: -$space;
  }

  // navigation placement
  nav {
    right: auto;
    left: $space / 2;
    top: $space * 4;

    a {
      padding: $space / 3.5;
      margin-left: 0;
    }

    &.homepage--navigation {
      right: 0;
      left: 0;
      text-align: center;
      top: $space * 4.5;
    }
  }
  // move text below navigation
  .float--left.width--40 {
    margin-top: $space * 4;
  }

  // less spacing between elements
  .margin--top-four-spaces{
    margin-top: $space;
  }
  .margin--top-six-spaces {
    margin-top: $space * 3;
  }
  .padding--left-one-space {
    padding-left: $space / 2;
  }
  .features-icons {
    padding-bottom: $space * 3.5;
    width: $space * 2.5;
  }

  // no floats
  div.float--right,
  div.float--left {
    float: none;
  }

  // footer on two lines
  .follow-link-footer {
    display: block;
  }

  // centre button
  .button--claim {
    margin: 0 auto $space;
  }
  .button--download {
    margin: 0 auto;
  }

  .iphone-screenshot {
    display: block;
    margin: 0 auto;
  }
}



@media all and (max-width: 380px) {
  body {
    font-size: .75em;
  }

  .logo--invest b span {
    vertical-align: 65%;
  }

  .has-bg-image--masthead .max-width--700 {
    margin-top: 30%;
  }

  a {
    color: darken($link, 30%);
  }

  .padding--top-bottom-six-spaces {
    padding-top: $space * 3;
    padding-bottom: $space * 2;
  }

  // investor images
  .columns--3 .svg {
    width: 50px;
  }

  // thicker fonts for mobile
  h1,
  h1 strong,
  h2,
  .text--h2,
  h3 {
    font-weight: 500;
  }

  .h1--giga {
    font-size: 3.5em;
  }
  .h2--giga {
    font-size: 1.5em;
  }

  .text--bigger {
    line-height: 1.6;
  }

  // position iphone correctly for investor page
  .has-bg-image--masthead {
    background-position: 50% 0;
    background-size: auto 560px;

    &:before {
      content: '';
      width: 100%;
      height: 100%;
      background: rgba(0,0,0,.45);
      position: absolute;
    }

    .h2--giga {
      font-size: 1.8em;
      text-align: center;
    }

    // centre the investor video link in masthead
    .investor-video--link {
      text-align: center;
      margin-top: 20px;
    }

    // iOS shows emoji, position correctly
    .link--play-video:before {
      left: 45%;
      background: transparent;
    }

    h1, h2 {
      text-shadow: 2px 3px 10px rgba(0,0,0,1);
    }
  }

  // height of iframe smaller
  .investor-video--iframe {
    height: 200px;
  }

  // smaller header section separators
  header[class^="header--"] {
    font-size: 0.7em;
    padding: $space / 2 $space;
  }

  // smaller width for screenshot
  .iphone-screenshot {
    width: 60%;
    // margin-left: -$space / 2;

    // video positioning
    .iphone-screenshot__inside--video {
      width: 176px;
      left: 14px;
      bottom: -235px !important;
    }
  }

  // homepage image
  .smaller-iphone-width-on-mobile {
    margin: 0 auto;

    // photo positioning
    .iphone-screenshot__inside {
      bottom: 55px;
      left: 14px;
    }

    img {
      width: 100%;
    }
  }
}